userInput#app
  .top
    .userInput
      .status {{status}}
      input(v-model="userInput" placeholder="可以輸入 mora 或 homo 試試")
      //- .link 辭典
    .info
      .show
        button 性別
        .text {{currentWord.type}}
      .show
        button 變格
        .text {{currentWord.declension}}
      .show
        button 詞幹
        .text {{currentWord.stem}}
  hr
  .bottom
    .mainInput.left
      .name Single
      .row(v-for="(item,i) in caseList")
        label {{item.cht}}
        input(type="text" v-model="inputData.singleInputs[i]" :key="i")
        .ansStatus
          i.fas.fa-check
          // 下面這條 v-if 加到上面的 i 元素，整個就無法 render 了....
          //- (v-if="inputData.singleInputs[i] == ansData.singleInputs[i]")
    .mainInput.right
      .name Plural
      .row(v-for="(item,index) in caseList" :key="item.eng")
        label {{item.cht}}
        input(type="text" v-model="inputData.pluralInputs[index]")
        .ansStatus
          i.fas.fa-check

      